/*header ya es responsive*/

.header{
    background-color: #4E94ab;
    color: white;
    font-weight: 100;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin: 0;
    margin-left: 0;
    
       h1{
        font-size: 350%;
       }
  
       p{
        font-size: 200%;
       }
  
       img{
         border-radius: 0;
       }
       #btn-menu{
         display:none;
     }
     }  
       header label{ 
         display: none;
         width: 70px;
         height: 70px;
         padding: 20px;
         border-right: 1px solid white;
         text-decoration: none ;
         }
  
       header label:hover{
         cursor: pointer;
         background: rgba(0,0,0,0.3);
         }
        
    /*nav*/
   
       .menu ul{
          margin:0;
          padding:0;
          list-style: none;
          display: flex;
  
            li:hover{
               background:rgba(0,0,0,05);}
            
            li{
               text-align: center;
               flex-grow: 1;
  
                 a{ display: block;
                    padding: 15px 20px;
                    color: white;
                    text-decoration: none;
                    }
               }
           }
  
            
  @media (max-width:768px) {
  header label{
      display: block;
  }
  
  .menu{
      position: absolute;
      background-color: #4E94ab;
      width: 70%;     
      margin-left: -75%;
      transition: all 0.5s;  
      z-index: 200;
  }
  
  .menu ul{
      flex-direction: column;
  }
  
  .ul-galeria{
      flex-direction: none;
  }
  
  .menu li{
      border-top: 1px solid white;
  }
  
  #btn-menu:checked~ .menu{
      margin: 0;
  }   
  }
  /*---menu desplegable*/
  
  

/*main responsive*/
/*mobile*/
*{ box-sizing: border-box;}
body{
    margin: 0;
}

h1{ 
    font-size: 3.5em;
}
h2{
    font-size: 2.7em;
}
h2{
    font-size: 2em;
}
p{
    font-size: 1.25em;

}

.section-container{
    max-width: 1400px;
    margin: auto;
}

/*SECTION BANER*/

.hero{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height:90vh;
    background-image:url("ban.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.hero h1{
    color: white;
    backdrop-filter: blur(4px);
    padding: 1px;
    border-color: black solid;
}

/*section 1*/
.section-main{
    background-color: rgb(0, 0, 0);
}

.section-main .section-container{
    text-align: center;
    padding: 80px 12px;
    color: azure;
    
}

/*section 2*/
.section-varias{
    background-color: rgb(22, 10, 10);
    color: beige;
    text-align: center;
}

.section-varias p {
    display: none;
}

.section-varias h2{
    margin-top:0;
    
}
.section-varias .section-container{
   padding: 50px 0;
   
}

.section-varias .cards{
    background-position: center center;
    background-size: auto;
    padding: 30px 0px;
    border-radius: 20px;
    margin: 30px;

    font-size: 24px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px rgb(235, 8, 8);
}
.section-varias h3{
    backdrop-filter: blur(1px);
    padding: 50px 0px;
    max-width: 15px;
    border-radius: 20px;
    margin-top: 0;
    margin: 30px;
}


.cards:first-child{
    background-image: url("ban-text2.jpg");
    
   
}
.cards:nth-child(2){
    background-image: url("ban-text2.jpg");

}

.cards:nth-child(3){
    background-image: url("ban-text2.jpg");

}

@media (min-width: 720px) {

    /*hero    */


    /*section 1 */
    .section-main .section-container{
        display: flex;
        justify-content: space-evenly;
    }

    .section-main .texto-container{
        width: 50%;
        text-align: initial;
        max-width: 600px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .section-main .imagen-container{
        background-image: url(./sabath-tres.jpg);
        background-position: center center;
        background-size: cover;
        height: 500px;
        width: 400px;
    }

    /*section 2*/

    .section-varias .section-cards{
        display: flex;
        justify-content: center;
    }

    .section-varias p{
        display: block;
    }

    .section-varias .cards{
        padding: 15px;
        margin: 10px;
    }




}
/*foooooterrrrrr********************************/

/*  footer */
/****mixin ****/
@media (max-width: 800px) {
    .footer-row {
      text-align: center;
    }
    .footer-link {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  /*arriba foter novedades*/
  .footer {
    background-color: #24262b;
    padding: 80px 0;
  }
  .footer .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer .footer-container .footer-row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footer-container .footer-row .footer-link {
    width: 25%;
    padding: 0 15px;
  }
  .footer .footer-container .footer-row .footer-link h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #4E94ab;
    padding-bottom: 10px;
    display: inline-block;
  }
  .li a:hover {
    color: #4E94ab;
    padding-left: 6px;
  }
  .footer .footer-container .footer-row .footer-link ul li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
  }
  .footer .footer-container .footer-row .footer-link .social-link a:hover {
    background-color: #4E94ab;
  }
  .footer .footer-container .footer-row .footer-link .social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 10%;
    color: white;
    transition: all 0.5s ease;
  }
  


  /***back**/
  
@media (min-width: 720px) {

  /*section 1 */
  .section-main{
      .section-container{
           display: flex;
           justify-content: space-evenly;
          }

      .texto-container{
              width: 50%;
              text-align: initial;
              max-width: 600px;
              padding-left: 30px;
              display: flex;
              flex-direction: column;
              justify-content: center;
          }
      .imagen-container{
              background-image: url(../imagenes/sabath-tres.jpg);
              background-position: center center;
              background-size: cover;
              height: 500px;
              width: 400px;
          }
          
        }
     }


  /*section 2*/

  .section-varias{
      .section-cards{
          display: flex;
          justify-content: center;
          }

      p{
          display: block;
       }

      .cards{
          padding: 15px;
          margin: 10px;
  }
}


@media (min-width: 720px) {

  /*hero    */


  /*section 1 */
  .section-main .section-container{
      display: flex;
      justify-content: space-evenly;
  }

  .section-main .texto-container{
      width: 50%;
      text-align: initial;
      max-width: 600px;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .section-main .imagen-container{
      background-image: url(./sabath-tres.jpg);
      background-position: center center;
      background-size: cover;
      height: 500px;
      width: 400px;
  }

  /*section 2*/

  .section-varias .section-cards{
      display: flex;
      justify-content: center;
  }

  .section-varias p{
      display: block;
  }

  .section-varias .cards{
      padding: 15px;
      margin: 10px;
  }




}


