body {
    margin: 0;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  img {
    max-width: 100%;
  }
  
  .container-producto {
    @include bordes(30px, 20px);
    justify-content: center;
  }
  
  .container-producto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .container-producto .item {
    border-radius: 10px;
  }
  .container-producto .item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  .container-producto .item .info-producto {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .container-producto .item .info-producto h2 {
    text-align: center;
    border-style: double;
  }
  .container-producto .item .info-producto .price {
    font-size: 18px;
    font-weight: 900;
    text-align: center;
  }
  section .item .info-producto button {
    border: none;
    background: none;
    background-color: black;
    color: $font-color;
    padding: 15px 10px;
    cursor: pointer;
  }
  .container-producto .item img {
    @include medidas(300px, 300px);
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 4s;
  }
  .container-producto .item img:hover {
    transform: scale(1.2);
  }
  .container-producto .item figure {
    overflow: hidden;
  }
  
  /* media query mobile */
  @media (max-width: 900px) {
    .container-producto {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas más pequeñas */
    }
  }
  @media (max-width: 600px) {
    .container-producto {
      grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
    .info-producto {
      padding: 15px; /* Reduce el padding en pantallas pequeñas */
    }
    button {
      width: 100%; /* Botones de ancho completo en pantallas pequeñas */
    }
  }